{% extends "index.html" %}
{% block contenedor %}
<hr>
<div class="page-section" id="contact2">
    <div class="row">
        <div class="col-md-12">
            <h4 class="widget-title">GENERAR FACTURA SIMPLE</h4>
            <p>Para generar una factura simple rellene todos los campos que aparecen en el formulario de abajo con los datos correctos y a continuacion dale al boton generar factura.</p>
        </div>
    </div>
    <div class="row">
        <form action="/factura_simple/" method="post" class="contact-form">
            {% csrf_token %}
            {{ form2.as_p }}
            <input type="submit" class="button big default" value="Generar factura">
        </form>
    </div> <!-- .contact-form -->
</div>
<hr>
{% endblock %}